html, body {
    height: 100%;
}
p,h1,h2,h3,h4,h5,h6  {
    color: #1a1a1a !important;
}
a {
    display: block;
}
.border-top {
    border-top: 1px solid #1a1a1a !important;
}
.inputGroup {
    height: 3.2rem;
}
input {
    width:6rem;
    border-top: none;
    border-right: none;
    border-left:none;
    border-bottom: 2px solid #1a1a1a;
    text-align: center;
    margin-right: 0.5rem;
}
.conversionPhrase{
    font-size: 1.4rem;
}
.conversionPhrase .small {
    font-size: .6rem;
    text-align: center;
}
select {
    width: 4.5rem;
    margin-top: -.9rem;
    height: 2.3rem;
    border-top: none;
    border-right: none;
    border-left:none;
    border-bottom: 2px solid #1a1a1a;
    margin-left: 0.5rem;
}
h6 {
    padding-left:0 !important;
    font-size: 1rem;
}
option {
    font-size: .8rem;
}
@media (min-width: 375px) {
    #conversionPhrase {
        margin-top: 5rem;
    }
}
@media (min-width: 425px) {
    #conversionPhrase {
        margin-top: 11rem;
        margin-bottom: 5rem;
    }
    #conversionDate {
        margin-top: 1rem;
    }
}
@media (min-width: 768px) {
    #conversionPhrase {
        margin-top: 23rem;
        margin-bottom: 11rem;
    }
}

@media (min-width: 1024px) and ( min-height: 600px) {
    #conversionPhrase {
        margin-top: 8rem;
        margin-bottom: 5rem;
    }
}

@media (min-width: 1366px) {
    #conversionPhrase {
        margin-top: 14rem;
        margin-bottom: 7rem;
    }
}

@media (min-width: 1440px) and ( min-height: 900px) {
    #conversionPhrase {
        margin-top: 19rem;
        margin-bottom: 15rem;
    }
}


